@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar-content {
    transform-origin: left;
}
.no-transition {
    transition: none !important;
}
.initial-hidden {
    opacity: 0;
}

@layer utilities {
    .ml-312 {
        margin-left: 312px;
    }
    .ml-97 {
        margin-left: 97px;
    }
    .left-312 {
        left: 312px;
    }
    .left-97 {
        left: 97px;
    }
    .pointer-events-auto {
        pointer-events: auto;
    }
    .pointer-events-none {
        pointer-events: none;
    }
}