@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar-content {
    transform-origin: left;
}
.no-transition {
    transition: none !important;
}
.initial-hidden {
    opacity: 0;
}

@layer utilities {
    .ml-312 {
        margin-left: 312px;
    }
    .ml-97 {
        margin-left: 97px;
    }
    .left-312 {
        left: 312px;
    }
    .left-97 {
        left: 97px;
    }
    .pointer-events-auto {
        pointer-events: auto;
    }
    .pointer-events-none {
        pointer-events: none;
    }
    /* Hilangkan flash saat refresh - sidebar open */
    .sidebar-open-now #main-sidebar {
        width: 312px !important;
    }
    .sidebar-open-now #sidebar-content {
        transform: translateX(0) !important;
    }
    .sidebar-open-now #main-content {
        margin-left: 312px !important;
    }
    .sidebar-open-now #navbar-header {
        left: 312px !important;
    }
}